*{
    background-color: rgba(93, 75, 177, 0.863);
    color: rgb(0, 0, 0);
}

label{
    font-size:20px;
}
.container{
    text-align: center;
    margin-top: 190px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h1 {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

input {
    border-color: rgb(0, 0, 0);
    font-size: 20px;
}

.button{
background-color: rgb(0, 0, 0);
color: #fff;
height: auto;
width: 200px;
border: none;
padding: 10px;
border-radius: 10px;
font-family: 'Courier New', Courier, monospace;
}